<!Doctype html>
<%- include('../partiels/head'); %>
    <body class="container"> 

        <%- include('../partiels/header', {pagina: 'sobre'}); %>

        <main>
            <div class="jumbotron">
                <h1> Sobre mim </h1>
                <p>Oi eu sou a Michele Lima</p>
            </div>

        </main>
        <%- include('../partiels/footer'); %>  
    </body>


</html>
